.Button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;

  border: none;
  outline: none;
  background-color: var(--orange);
  cursor: pointer;

  padding: 1.4rem;
}

.button-contact {
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  color: var(--white);
  text-decoration: none;
  font-weight: 100;
  font-size: 0.6rem;
  letter-spacing: 2px;
}

/* Responsividade */

@media (max-width: 840px) {
  .Button {
    bottom: 0;
    top: auto;
    right: 0;
  }

  .button-contact {
    writing-mode: horizontal-tb;
    transform: rotate(0);
  }
}