.Section11 {
  max-width: 100vw;
}

.section11-content {
  max-width: 100%;

  display: flex;
  flex-direction: row;

  padding: 0 4rem 0 4rem;
}

.section11-contact {
  display: flex;
  flex-direction: column;
  max-width: 50%;

  padding: 6rem 4rem;

  border: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom: 0;
}

.section11-contact h1 {
  font-weight: 600;
}

.section11-contact p {
  padding-top: 0.6rem;
  font-weight: 400;
}

.section11-contact form {
  padding-top: 2rem;
}

.section11-contact form input {
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
  color: var(--black);

  margin-top: 1rem;
}

.section11-contact form textarea {
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 1.6rem 0.8rem 8rem 0.8rem;

  margin-top: 1rem;
  resize: none;

  font: inherit;
}

.section11-contact form input:hover,
.section11-contact form input:focus,
.section11-contact form textarea:hover,
.section11-contact form textarea:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.4);
}

.section11-contact form button {
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  outline: none;
  border: 0;
  
  color: var(--white);
  background-color: var(--black);
}

.section11-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;

  border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.section11-infos h1 {
  font-size: 1.4rem;
  font-weight: 500;
}

.section11-infos p {
  font-size: 1rem;
  padding: 0.6rem 0 4rem 0;
  font-weight: 400;
}

.infos-content {
  padding: 6rem 4rem;
} 

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  border-top: solid 1px rgba(0, 0, 0, 0.2);
}

.links a {
  text-decoration: none;
  color: var(--black);
  font-size: 0.8rem;
}

.links .terms {
  display: flex;
  flex-direction: column;

  padding: 2rem 4rem;
}

.links .terms a {
  margin-top: 0.2rem;
  font-weight: 300;
}

.links .social a {
  font-weight: 500;
  padding-right: 1rem;
}

.section11-direitos {
  padding: 2rem 4rem;
  font-weight: 100;
  font-size: 0.8rem;

  border-top: solid 1px rgba(0, 0, 0, 0.2);
}


/* Responsividade */

@media (max-width: 840px) {
  .section11-content {
    flex-direction: column;
  
    padding: 0 2rem 0 2rem;
  }

  .section11-contact {
    max-width: 100%;
    width: 100%;

    padding: 4rem 2rem;
  }

  .section11-infos {
    max-width: 100%;
    width: 100%;
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    border-top: solid 1px rgba(0, 0, 0, 0.2);
  }

  .links .social {
    padding-right: 1rem;
  }

  .infos-content {
    padding: 4rem 2rem;
  } 

  .links .terms {
    padding: 2rem;
  }
  
  .links .terms a {
    margin-top: 0.4rem;
  }
}