.Section5 {
  background: no-repeat center/cover url('../../assets/Imagens/Desktop/Bg-3.jpg');
  color: var(--white);

  max-width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 4rem 4rem 32rem 4rem;
}

.section5-description p {
  font-weight: 400;
  font-size: 0.8rem;

  width: 40%;
  float: right;
}

.section5-title h1 {
  font-weight: 600;

  width: 80%;
}


/* Responsividade */

@media (max-width: 840px) {
  .Section5 {
    background: no-repeat center/cover url('../../assets/Imagens/Mobile/Bg-3.jpg');
    flex-direction: column;

    padding: 4rem 2rem 30rem 2rem;
  }

  .section5-description p {
    padding: 3rem 0 0 4rem;
    font-size: 1rem;
    width: 60%;
  }
}

@media (max-width: 400px) {
  .section5-description p {
    width: 80%;
  }
}