.Section6 {
  background-color: var(--gray);
  max-width: 100vw;

  display: flex;
  flex-direction: row;

  padding: 4rem;
}

.section6-title {
  width: 100%;
}

.section6-title p {
  font-weight: 500;
  color: var(--orange);
  font-size: 0.8rem;

  position: relative;
  top: 1.6rem;
}

.section6-title p:last-child {
  font-size: 0.8rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
}

.section6-title h1 {
  font-weight: 400;
  font-size: 1.8rem;
  max-width: 80%;

  text-indent: 15rem;
}

.section6-title img {
  width: 70%;
  margin-top: 4rem;
  align-items: center;
}

.section6-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  width: 60%;
}

.section6-description p {
  font-size: 1rem;
  font-weight: 400;

  padding-right: 2rem;
}


/* Responsividade */
@media (max-width: 1230px) {
  .section6-title p:first-child {
    position: relative;
    top: 0;
  }

  .section6-title h1 {
    text-indent: 0;
    padding-top: 1rem;
  }

  .section6-title img {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .section6-title img {
    width: 90%;
  }
}

@media (max-width: 950px) {
  .section6-title img {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .Section6 {
    flex-direction: column;
  }
  .section6-description {
    align-items: flex-start;
    max-width: 100vh;
    width: 100%;
    padding-top: 4rem;
  }
  .section6-description p {
    position: relative;
    display: block;
    top: 0;
    left: 0;
  
    font-size: 1.6rem;
    font-weight: 400;
  
    padding: 0;
  }
}

@media (max-width: 500px) {
  .section6-description p {
    font-size: 1rem;
  }
}