:root {
  --orange: #ff7c10;
  --black: #000000;
  --white: #FFFFFF;
  --gray: #F2F2F2
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button {
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif;
}

